.venv/pyvenv.cfg
.venv/lib/python3.10/site-packages/werkzeug/wrappers/request.py
.venv/lib/python3.10/site-packages/werkzeug/wsgi.py
.venv/lib/python3.10/site-packages/werkzeug/wrappers/__init__.py
.venv/lib/python3.10/site-packages/werkzeug/wrappers/__pycache__/__init__.cpython-310.pyc
.env
.venv/bin/activate
.venv/bin/activate.csh
.venv/bin/activate.fish
/.venv
